/* header */


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    width: 100%;
    height: 293px;
    left: 0px;
    top: 0px;
       }
.header_menu {


}
.header_links-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  }

.header__links-list-item {
  list-style:circle;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__link {
}
.header__link_active {
  text-decoration: underline;
}
.header__logo {
  height: 105px;
  width: 148px;
}
.header__logo-image {
  display: block;
  
  }
.address {
  }

.header_adress {
  display: flex;
  max-width: 239.48px;
  justify-self:end;
  flex-direction: column;
  gap: 1px;
  font-family: Raleway;
font-weight: 400;
font-size: 18px;
line-height: 24.3px;
letter-spacing: 0%;
font-style: normal;
max-width: 240px;
  justify-self:end;

}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding: 50px;
  top: 0;
  bottom: 180px;
background-image: url(../images/cover.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
width: 1100px;
height: 757px;
z-index: 0;

}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  }

.cover__title {
 color: #FFFFFF;
  }

.aligned-text {
  display: block;
  text-transform:uppercase;
  font-family: Raleway;
font-weight: 700;
font-size: 100px;
line-height: 115px;


}
.aligned-text_center {
  display: block;
  text-transform:uppercase;
  font-family: Raleway;
font-weight: 700;
font-size: 100px;
line-height: 115px;
text-align: center;
}
.aligned-text_right {
  display: block;
  text-transform:uppercase;
  font-family: Raleway;
font-weight: 700;
font-size: 100px;
line-height: 115px;
text-align: right;

}
.letter-spacing-extended {
  letter-spacing: 30px;
}
.no-letter-spacing {
}

.cover__description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 118px;
  }
.cover__description-text {
  text-transform:uppercase;
  word-spacing:30px;
  color:#FFFFFF;
  width: 1000;
  height: 51;
  top: 656px;
  left: 50px;
  border-width: 1px;
  }
.bet-button {
  color: white;
  background-color: transparent;
  font-family: Raleway;
font-weight: 500;
font-size: 20px;
line-height: 25.83px;
letter-spacing: 0%;
text-transform:uppercase;
text-align: center;
border: 1px solid #FFFFFF
}
.lots {
  width: 1052;
height: 723;
top: 1230px;
left: 24px;

}
.lots__heading {
  width: 121;
height: 47;
left: 40px;
font-family: Raleway;
font-weight: 700;
font-size: 40px;
line-height: 46.96px;
letter-spacing: 0%;
text-transform:uppercase;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 334px 334px 334px;
  column-gap:25px;
   }
.lots__card-list-item {
  list-style-type: none;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  position: relative;
  width: 334;
  height: 596;
  font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 26.4px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: Auto;

}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 596;
  font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 26.4px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: Auto;
text-decoration-thickness: Auto;

}
.card_type_picture {
  font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 26.4px;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: Auto;
text-decoration-thickness: Auto;

}
.card_title {
}
.card-link {
}
.card__text {
}
.lots__look-more-link {
}
.about {
  margin-top: 120px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px repeat(1, 1fr);
  gap: 25px;
  padding: 34px 24px 0px;
}
.about__logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
.about__logo-image {
  width: 148px;
  height: 114px;
}
.about-column {
}
.about__title {
color: black;
font-size: 40px;
font-weight: 700;
line-height: 46.96px;
text-transform:uppercase;
}
.about__text {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
}
.footer__menu {
}
.footer__menu-list {
}
.footer__menu-list-item {
}
.footer__menu-link {
}
.footer__menu-link_active {
}
.footer__social-list {
}
.footer__social-list-item {
}
.footer__social-link {
}
.footer__social-icon {
}
